html, body {

    width: 100%;
    min-height: 100%;
    height: 100%;

    font-family: 'Roboto Condensed', sans-serif;

}
.container {

    height: 100%;
    width: 100%;

    // BG Gradient
    background: #feffe8;
    background: -moz-linear-gradient(left,  #feffe8 0%, #d6dbbf 100%);
    background: -webkit-linear-gradient(left,  #feffe8 0%,#d6dbbf 100%);
    background: linear-gradient(to right,  #feffe8 0%,#d6dbbf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=1 );

}
